@use '../../scss/abstracts/' as a;

.modal {

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.5);
  overflow: hidden;


  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.4s ease, visibility 0.4s;


  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 274px;
    height: 100%;
    background-color: a.$color-accent;


    transform: translateX(100%);
    transition: transform 0.4s ease;
    z-index: 1;

    @include a.tablet {
      width: 380px;
    }
  }


  :global(body.menu-open) & {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;

    &::after {
      transform: translateX(0);
    }


    .modal__content,
    .modal__bg {
      transform: translateX(0);
    }
  }


  &__content {

    position: absolute;
    top: 0;
    right: 0;
    width: 274px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;


    @include a.flex($direction: column, $align: end, $gap: 186px);

    z-index: 3;

    transform: translateX(100%);
    transition: transform 0.4s ease;

    @include a.tablet {
      @include a.flex($direction: column, $align: end, $gap: 227px);
      width: 380px;
      padding: 20px 32px;
    }
  }

  &__top {
    @include a.flex($justify: space-between, $align: center);
    width: 100%;
  }

  &__phone {
    color: a.$color-dark;
    font-family: a.$font-main;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 12px 20px;
    border: 1px solid a.$color-dark-low;
    border-radius: 15px;
    background: transparent;

    @include a.tablet {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &__closeBtn {
    width: 18px;
    height: 18px;

    @include a.tablet {
      width: 22px;
      height: 22px;
    }

    svg {
      stroke: a.$color-dark;
      width: 18px;
      height: 18px;

      @include a.tablet {
        width: 22px;
        height: 22px;
      }
    }
  }

  &__nav {
    @include a.flex($direction: column, $gap: 20px);

    @include a.tablet {
      @include a.flex($direction: column, $gap: 25px);
    }
  }

  &__navLink {
    color: a.$color-dark;
    font-family: a.$font-main;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: right;
  }

  &__bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 274px;


    z-index: 2;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: flex-end;
    transform: translateX(100%);
    transition: transform 0.4s ease;

    @include a.tablet {
      width: 380px;
    }
  }

  &__ornament {
    fill: rgba(28, 34, 37, 0.2);
    width: 100%;
    height: 244px;
    object-fit: contain;

    @include a.tablet {
      height: 338px;
    }
  }
}