@use '../../scss/abstracts/' as a;

.newsletter {
  overflow: hidden;
  padding: 40px 0 37px 0;

  @include a.tablet {
    padding: 50px 0 129px 0;
  }

  @include a.laptop {
    padding: 75px 0 75px 0;
  }

  &__content {
    @include a.tablet {
      @include a.flex($direction: column, $gap: 100px);
    }

    @include a.laptop {
      @include a.flex($gap: 50px);
    }
  }

  &__pictureWrapper {
    display: none;

    @include a.tablet {
      display: block;
      order: 2;
      width: 704px;
    }

    @include a.laptop {
      order: 1;
      width: 588px;
    }

    @include a.desktop {
      width: 524px;
    }

    position: relative;

  }

  &__imgWrapper {}

  &__img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;

    border-radius: 4px;
  }

  &__bgWrapper {
    position: absolute;
    top: 116px;
    right: 413px;

    @include a.laptop {
      top: 156px;
      right: 349px;
    }

    @include a.desktop {
      top: 156px;
      right: 299px;
    }
  }

  &__bg {
    width: 544px;
    height: 483px;
  }

  &__main {
    order: 1;

    @include a.flex($direction: column, $gap: 40px);
  }


  &__title {
    color: a.$color-light;
    font-family: a.$font-main;
    font-style: Medium;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: -3%;
    text-align: left;

    text-wrap: pretty;

    @include a.tablet {
      font-size: 44px;
      line-height: 58px;
    }

    @include a.laptop {
      font-size: 44px;
      line-height: 58px;

      width: 542px;
    }

    @include a.desktop {
      font-size: 44px;
      line-height: 58px;

      width: 666px;
    }

  }

  &__titlehighlighted {
    color: a.$color-accent;
  }

  &__form {
    @include a.flex($direction: column, $gap: 20px, $align: center);

    @include a.tablet {
      @include a.flex($direction: column, $gap: 20px, $align: start);
    }

  }

  &__formInput {
    color: a.$color-light;

    font-family: a.$font-main;
    font-style: Regular;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: -2%;
    text-align: left;

    padding: 14px 16px;
    width: 100%;

    background-color: transparent;
    border: 1px solid a.$color-light-low;
    border-radius: 15px;
    outline: transparent;

    transition: border 0.3s ease;

    @include a.tablet {
      max-width: 508px;

      font-size: 16px;
      line-height: 22px;
    }

    &::placeholder {
      color: a.$color-light-medium;
    }

    &:focus {
      border: 1px solid a.$color-light;
      &[data-aos] {
        transition: border 0.3s ease !important;
      }
    }
  }



  &__formInputLast {
    display: none;
    padding: 14px 16px 160px 16px;
    resize: none;

    @include a.tablet {
      display: block;
    }
  }

  &__arrowIcon {
    width: 26px;
    height: 10px;

    transition: transform 0.3s ease;
  }

  &__formBtn {
    color: a.$color-light;

    font-family: a.$font-main;
    font-style: SemiBold;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: -4%;
    text-align: left;
    text-transform: uppercase;

    padding: 14px 44px;

    @include a.flex($align: center, $gap: 10px);
    border: 1px solid a.$color-light-low;
    border-radius: 15px;
    cursor: pointer;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid a.$color-accent;

      &[data-aos] {
        transition: border 0.3s ease !important;
      }

      .newsletter__arrowIcon {
        transform: rotate(-30.00deg);
      }
    }

    margin-top: 20px;
  }






}