@mixin flex($direction: row, $justify: flex-start, $align: stretch, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

@mixin tablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1440px) {
    @content;
  }
}