$font-main: "Manrope", sans-serif;

$color-bg-main: #1c2225;
$color-accent: #ecd979;
$color-light: #fcf9f9;
$color-light-medium: rgba(252, 249, 249, 0.4);
$color-light-low: rgba(252, 249, 249, 0.1);
$color-dark: #1c2225;
$color-dark-low: rgba(28, 34, 37, 0.1)

